{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        Welcome to Django REST Framework
      {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}" />
  </head>
  <body>
    <!-- Navbar -->
    {% include 'partials/_navbar.html' %}

    <!-- content -->
    {% block content %}
    {% endblock content %}
    <!-- script.js -->
    <script defer src="{% static 'js/app.js' %}"></script>
  </body>
</html>
