{% extends 'base.html' %}

{% block content %}
  <div>
    <p>The eCommerce REST API built with Django Rest Framework (DRF) serves as the backbone for an online store, enabling seamless communication between the front-end applications and the database. Leveraging the power of Django's robust framework and DRF's efficient tools for building RESTful APIs, this solution provides a scalable, secure, and highly customizable platform for conducting online transactions.</p>
  </div>
{% endblock content %}
